
/* NAVBAR */

nav{
  overflow: hidden;
  position: fixed;
  text-align: right;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 15px 0;
  background: #fff;
}

/* brand */

nav img{
  display: inline-block;
  width: 80%;
  height: auto;
}

nav .row [class^="col"]:first-child{
  text-align: left;
}

/* link desktop */

nav .lg-links{
  margin-top: 5px;
}

nav .lg-links ul{
  display: inline-block;
  text-align: right;
}

nav .lg-links li{
  display: inline-block;
  margin: 0 3px;
}

nav .lg-links a{
  text-decoration:none;
  color: inherit;
}

#sign-button{
  color: rgb(6, 173, 255);
  padding: 5px 10px;
  border: 1px solid rgb(6, 173, 255);
  border-radius: 5px;
}

/* hamburger tablet e telefono */

.hamburger{
  display: none;
  margin: 5% 13% 0 0;
}

.hamburger img{
  width: 100%;
  height: auto;
}

@media all and (max-width:992px) {
  .hamburger{
    display:inline-block;
  }

  .lg-links{
    display: none;
  }
}

/* HEADER */

header{
  background-image: url(../img/jumbo.svg);
  background-size: contain;
  height: auto;
  color: white;
  margin-top: 60px;
}

header .row [class^="col"]{
  margin: 60px 0;
}

header h1{
  margin-top: 20px;
  font-size: 58px;
}

header [class^="col"]:first-child p{
  font-size: 18px;
}

/* sign box */

header .sign-box{
  background-color: white;
  text-align: center;
  width: 80%;
  margin: 0 10%;
  border-radius: 20px;
  height: auto;
  color: #031C4EFF;
}

header h2{
  padding-top: 35px;
  font-size: 30px;
}

header input{
  width: 90%;
  height: 38px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 7px 0;
}

header a{
  font-size: 30px;
  text-decoration: none;
  color: #006AFFFF;
  font-weight: bold;
}

.input-panel a{
  width: 90%;
  height: 28px;
  margin: 7px 0;
  font-size: 16px;
  padding: 5px 2%;
  border-radius: 4px;
  display: inline-block;
}

.sign-box #create{
  background-color: #579AFFFF;
  color: white;
}

.sign-box #sign-up{
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  color: #626262FF;
}

.input-panel a .google{
  float: left;
}

.sign-box #terms{
  font-size: 14px;
  text-decoration: underline;
}

.sign-box > p{
  padding: 20px 10px;
}

/* BUSINESSES */

.businesses{
  background-color: #F3F5F9FF;
  height: auto;
  text-align: center;
  color: #6F7B97FF;
  padding: 40px 0;
  font-size: 14px;
}

.businesses p{

}

.businesses img{
  width: 100%;
  height: auto;
}

.businesses .logo{
  margin: 40px 20%;
}

.businesses a{
  text-decoration: none;
}

/* DEPLOY */

.deploy{
  background-color: white;
  padding: 80px 0;
  color: #5C6A88FF;
}

.deploy .container > .row:first-child{
  text-align: center;
  margin-bottom: 60px;
}

.deploy .container > .row:first-child h1{
  font-size: 40px;
  color: #031C4EFF;
}

.deploy .container > .row:first-child p{
  font-size: 25px;
  margin-top: 8px;
}


.verticalLine {
  border-left: 1px solid grey;
  height: 202px;
  float: left;
  margin: 0 20px;
}

.deploy ul{
  float: left;

}

.deploy li{
  list-style: none;
  margin: 15px 0;
}

.deploy a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.deploy img{
  margin: 18px 0 10px 0;
}

.deploy h4{
  font-size: 20px;
  margin: 5px 0;
  color: #031C4EFF;
}

/* CAROUSEL 1 */

.carousel{
  text-align: center;
  padding: 80px 0;
  background-color: #F3F5F9FF;
}

.carousel .container .row > .col-12:first-child{
  margin-bottom: 40px;
}

.carousel .container .row > .col-12:first-child h2{
  font-size: 40px;
  color: #031C4EFF;
  margin-bottom: 20px;
}

.carousel .container .row > .col-12:first-child p{
  font-size: 25px;
  color: #5C6A88FF;
}

.carousel .arrow{
  display: inline-block;
  font-size: 40px;
  width: 10%;
  height: auto;
  vertical-align: middle;

}

.carousel img{
  display: inline-block;
  width: 50%;
  height: auto;
  vertical-align: middle;
}

.carousel .container .row > .col-12:last-child p{
  margin-top: 35px;
  color: #5C6A88FF;
}

.carousel .container .row > .col-12:last-child a{
  color: blue;
  display: inline-block;
  margin: 35px 3px 0 3px;
}

/* FEATURES */

.features{
  padding: 80px 0;
}

.features h2{
  text-align: center;
  font-size: 40px;
  color: #031C4EFF;
  margin-bottom: 40px;
}

.features h3{
  color: #031C4EFF;
  margin: 15px 0;
}

.features p{
  color: #5C6A88FF;
}

.features a{
  display: block;
  text-decoration: none;
  margin: 20px 0;
}

/* CUSTOMERS */

.customers{
  background-color: blue;
  padding: 80px 0;
  color: white;
}

.customers h2{
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
}

.customers .colonna{
  margin: 40px 0;
}

.customers h5{
  float: left;
  width: 20%;
}

.customers p{
  float: left;
  width: 60%;
  color: rgb(210, 210, 210);
}

.customers a{
  float: left;
  text-decoration: none;
  color: #00D5D1FF;
  width: 20%;
}

.customers hr{
  margin: 10px 0;
  float: left;
  width: 100%;
}

/* GET STARTED */

.start{
  background-color: blue;
  text-align: center;
  padding: 80px 0;
}

.start h2{
  color: white;
  font-size: 40px;
  margin-bottom: 35px;
}

.start a{
  color: blue;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

/* FOOTER */

footer{
  background-color: #031C4EFF;
  padding: 80px;
  color: #A5ADBCFF;
}

footer h3{
  margin-top: 20px;
  color: white;
}

footer li{
  list-style: none;
}

footer a{
  color:inherit;
  display: inline-block;
  text-decoration: none;
  margin: 5px 0;
}

footer p{
  margin-top: 10px;
}

footer small{
  color: #5A6887FF;
}

footer .i-social a{
  color:#A5ADBCFF;
  display: inline-block;
  text-decoration: none;
  margin: 15px 10px 15px 0;
}
